<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
POSTING CREATE <br />
title : <input class="input_param" id="input_title" name="title" /> <br />
content : <input class="input_param" id="input_content" name="content"/> <br />
img : <input class="input_param" id="input_img" name="img"/> <br />
<img id="img_file" src="" style="max-width: 300px;"/>
<input type="file" id="input_file" accept="image/*"/>
<button onclick="upload_file()">이미지 파일 업로드</button>
<button onclick="create_posting()">CREATE</button>


<script>
    function upload_file(){
        let tempFile = null;
        let inputFile = document.getElementById("input_file"); //인풋 태크에 접근
        if (inputFile.files.length > 0) { //파일 담겼는지 확인
            tempFile = inputFile.files[0];
        } else {
            alert("please input file first");
            return false;
        }
        // FormData 준비
        let formData = new FormData();
        formData.append('file', tempFile);
        $.ajax({
            url: "/api/default/file",
            type: "POST",
            data: formData,
            cache : false,
            contentType : false,
            processData : false,
            success: (data, status, xhr)=>{
                let file_src = data;
                $("#img_file").attr("src", "/image/" + file_src);
                $("#input_img").val(file_src);
            },
            error: (data)=>{
                alert("error")
            },
        });

    }
    function create_posting(){

        let myUserId = localStorage.getItem("myUserId");
        if(myUserId == null || myUserId + "" === "" || myUserId + "" === "undefined"){
            alert("로그인 먼저 해주세요!");
            return false;
        }

        let _param = {
            userId : myUserId
        };
        //_param["userId"] = myUserId;
        let input_param = $(".input_param");
        for(let each of input_param){
            let tempName = $(each).attr("name");
            _param[tempName] = $(each).val();
        }

        $.ajax({
            url: '/api/posting',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify(_param),
            success: function (data, status, xhr) {
                alert("success : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
                alert("error?");
            },
            complete: function () {

            }
        });
    }
</script>

</body>
</html>