<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
POSTING CREATE <br />
title : <input class="input_param" id="input_title" name="title" /> <br />
content : <input class="input_param" id="input_content" name="content"/> <br />
<button onclick="create_posting()">CREATE</button>

<script>
    function create_posting(){

        let myUserId = localStorage.getItem("myUserId");
        if(myUserId == null || myUserId + "" === "" || myUserId + "" === "undefined"){
            alert("로그인 먼저 해주세요!");
            return false;
        }

        let _param = {
            userId : myUserId
        };
        //_param["userId"] = myUserId;
        let input_param = $(".input_param");
        for(let each of input_param){
            let tempName = $(each).attr("name");
            _param[tempName] = $(each).val();
        }

        $.ajax({
            url: '/api/posting',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify(_param),
            success: function (data, status, xhr) {
                alert("success : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
                alert("error?");
            },
            complete: function () {

            }
        });
    }
</script>

</body>
</html>