<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
list

    <div id="div_list">
    </div>

<button onclick="list_board()">목록 조회!</button>
<script>
    function list_board(){
        $.ajax({
            url: '/api/board/list',
            method: 'GET',
            data : {},
            success: function (data, status, xhr) {
                alert("success : " + JSON.stringify(data));
                let list = data["data"];
                for(let each of list){
                    $("#div_list").append(
                      //"<div>"+each["id"] + "//" + each["title"] +"</div>"
                        `<div onclick="location.href='/board/detail/${each["id"]}'">${each["id"]} : ${each["title"]} !!!</div>`
                    );
                }
            },
            error: function (data, status, err) {
            },
            complete: function () {

            }
        });

    }
</script>
</body>
</html>